Webscrapping for Salary Cap and Contracts

In [93]:
import requests
import lxml.html as lh
import pandas as pd
import bs4

url = "https://www.spotrac.com/nfl/san-francisco-49ers/cap/"
url2 = "https://www.spotrac.com/nfl/free-agents/"
url3 = "https://overthecap.com/salary-cap-space/"

In [64]:
res = requests.get(url)
doc = lh.fromstring(res.content)
tr_elements = doc.xpath('//tr')

In [65]:
#Check first 12 rows for number of columns
[len(T) for T in tr_elements[:12]]

[12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12]

In [66]:
col = []
i=0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Active Players  (49)"
2:"Pos."
3:"Base Salary"
4:"Signing Bonus"
5:"Roster Bonus"
6:"Option Bonus"
7:"Workout Bonus"
8:"Restruc. Bonus"
9:"Misc."
10:"Dead Cap"
11:"Cap Hit"
12:"Cap %"

In [67]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=12:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [68]:
[len(C) for (title,C) in col]

[49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49]

In [69]:
Dict={title:column for (title,column) in col}
ninersalarycap=pd.DataFrame(Dict)

In [70]:
ninersalarycap.head()

,Active Players (49),Pos.,Base Salary,Signing Bonus,Roster Bonus,Option Bonus,Workout Bonus,Restruc. Bonus,Misc.,Dead Cap,Cap Hit,Cap %
0,Garoppolo\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\...,QB,"$24,100,000","$1,400,000","$300,000",-,"$600,000",-,-,"($26,900,000)","$26,400,000",13.49
1,Armstead\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t...,DE,"$6,650,000","$3,500,000","$705,882","$1,500,000","$100,000",-,-,"($28,150,000)","$12,455,882",6.36
2,Bosa\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t...,DE,"$780,000","$5,605,339","$2,870,170",-,-,-,-,"($19,826,102)","$9,255,509",4.73
3,Williams\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t...,LT,"$1,550,000","$6,020,000","$617,647",-,-,-,-,"($40,100,000)","$8,187,647",4.18
4,Tomlinson\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\...,G,"$4,500,000","$1,250,000","$400,000",-,"$100,000","$335,000",-,"($7,090,000)","$6,585,000",3.36

In [71]:
#ninersalarycap.to_excel("49ers Salary Cap.xlsx")

In [72]:
res = requests.get(url2)
doc = lh.fromstring(res.content)
tr_elements = doc.xpath('//tr')

In [73]:
[len(T) for T in tr_elements[:12]]

[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]

In [74]:
col = []
i=0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Player (764)"
2:"Pos."
3:"Age"
4:"From"
5:"To"
6:"2021 AAV"
7:"Status"
8:"Market Value"

In [75]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table
    #Change for number of columns
    if len(T)!=8:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [76]:
[len(C) for (title,C) in col]

[764, 764, 764, 764, 764, 764, 764, 764]

In [77]:
Dict={title:column for (title,column) in col}
freeagentdf=pd.DataFrame(Dict)

In [78]:
freeagentdf.head()

,Player (764),Pos.,Age,From,To,2021 AAV,Status,Market Value
0,Miller Von Miller,OLB,32.8,LAR,TBD,"$19,016,667",UFA,Market Value
1,Scherff Brandon Scherff,G,30.0,WAS,TBD,"$18,036,000",UFA,Market Value
2,Robinson Allen Robinson,WR,28.3,CHI,TBD,"$17,880,000",UFA,Market Value
3,Jones Chandler Jones,OLB,31.8,ARI,TBD,"$16,500,000",UFA,Market Value
4,Godwin Chris Godwin,WR,25.8,TB,TBD,"$15,983,000",UFA,Market Value

In [79]:
#freeagentdf.to_excel("Free Agents.xlsx")

In [81]:
res = requests.get(url3)
doc = lh.fromstring(res.content)
tr_elements = doc.xpath('//tr')

In [82]:
[len(T) for T in tr_elements[:10]]

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [83]:
col = []
i=0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Team"
2:"Cap Space"
3:"Effective Cap Space
ℹ️Represents the maximum cap space a team will have when it signs at least 51 players to its roster for that season."
4:"#"
5:"Active Cap Spending"
6:"Dead Money"

In [86]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table
    #Change for number of columns
    if len(T)!=6:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [120]:
[len(C) for (title,C) in col]

[0]

In [89]:
Dict={title:column for (title,column) in col}
nflsalarycapdf=pd.DataFrame(Dict)

In [91]:
nflsalarycapdf.head(100)

,Team,Cap Space,Effective Cap Space \nℹ️Represents the maximum cap space a team will have when it signs at least 51 players to its roster for that season.,#,Active Cap Spending,Dead Money
0,Dolphins,"$74,266,682","$60,666,868",37,"$135,156,136","$1,660,066"
1,Chargers,"$69,753,197","$53,457,962",33,"$147,976,259","$314,722"
2,Jaguars,"$68,258,401","$50,188,789",39,"$149,656,103","$17,809,664"
3,Washington,"$61,746,305","$45,071,322",35,"$156,010,699","$702,996"
4,Bengals,"$57,872,458","$45,326,620",38,"$158,375,588","$400,911"
...,...,...,...,...,...,...
93,Colts,"$139,314,864","$108,309,864",12,"$116,685,136",$0
94,49ers,"$137,190,165","$108,570,165",15,"$118,809,835",$0
95,Saints,"$130,497,973","$104,262,973",18,"$125,502,027",$0
96,Cowboys,"$113,081,017","$86,846,017",18,"$142,918,983",$0
97,Eagles,"$91,703,715","$74,213,715",29,"$164,296,285",$0

In [92]:
#nflsalarycapdf.to_excel("NFL Team Salary Cap.xlsx")